/* 整體背景 */
.userpage-container {
    width: 100%;
    min-height: 100vh;
    background: #f4f4f9;
    font-family: "Microsoft JhengHei", sans-serif;
}

/* 頂部導覽列 */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2e2e2e;
    color: white;
}

.top-btn {
    margin-left: 10px;
    padding: 8px 14px;
    background: #4e4e4e;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.top-btn:hover {
    background: #6a6a6a;
}

/* 內容三欄布局 */
.content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;   /* 左：中：右 的寬度比例 */
    gap: 20px;
    padding: 20px 40px;
}

/* 左側遊戲區 */
.games {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.game-card {
    margin-top: 10px;
    padding: 10px;
    background: #fafafa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.game-card img {
    width: 60px;
    height: 60px;
    background: #ddd;
    border-radius: 6px;
}

/* 中間使用者與貼文區 */
.userProfile {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.editUserInfo-btn {
    margin-top: 10px;
    padding: 8px 14px;
    position: relative;
    right: -88%;    
    border: none;
    background: #4a90e2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.editUserInfo-btn:hover {
    background: #6bb2ff;
}
.userPosts {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.post-card {
    margin-top: 15px;
    padding: 15px;
    background: #fafafa;
    border-radius: 8px;
}

.post-card img {
    width: 100%;
    height: 200px;
    background: #ccc;
    border-radius: 8px;
}

.tags {
    color: #666;
    font-size: 14px;
}

/* 右側發文區 */
.right .createPost {
    background: white;
    padding: 10px;
    border-radius: 12px;
    height: 100%;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.create-btn {
    width:80%;
    padding: 10px 10px;
    border: none;
    background: #4a90e2;
    position: relative;
    top: 90%;
    
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.create-btn:hover {
    background: #6bb2ff;
}
